.header{
  display: flex;
  background-color: black;
  height: 15px;
  width: 200px;
  
}
.headerLinks{
  color: white;
text-decoration: none;
list-style: none;
margin-right: 10px;
padding: 0;
flex-direction: row;
justify-content: center;

}
.headerLinks:hover{
  font-size: larger;
}

.footer{
 font-weight: bold;
  color: black;
  justify-content: space-between;
  margin-top: 550px;
}
.footer span{
  margin: 10px;
}