body {
  font-family: 'Merriweather', serif;
    
  background-color: rgb(226, 223, 223);
}

.showcase {
  background: url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat right/cover;
  height: 400px;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
  background-color: black;
  color: white;
  height: 50px;
}
.nav a {
  text-decoration: none;
  color: white;
  margin: 50px;
  font-size: 20px;
}
.nav a:hover {
  font-size: medium;
}
.homeInput {
  border-radius: 50px;
  width: 500px;
  height: 30px;
}
.homeButton {
  border-radius: 50px;
  background-color: rgb(8, 204, 8);
  width: 100px;
  height: 30px;
}
.overlay {
  text-align: center;
}
.topStories{
text-align: center;
text-decoration: underline;
}
.articleSection {
  border: 1px solid black;
  margin: 50px;
  background-color: rgb(255, 251, 251);
}
.articleSection li{
  text-decoration: none;
  list-style-type: none;
}
.account{
  border: 3px solid black;
  width: 200px;
  
}
.accountButton{
width: 200px;
}
/* @media only screen and (max-width: 375px){
  .nav{
    background-color: rgb(226, 223, 223);
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  }
  .nav a{
    margin: 5px;
    color: black;
  }
  .newsLetter{
    display: none;
  }
  .homeInput{
    width: 350px;
  }
  
} */